{% extends 'base.html' %}

{% block title %}编辑文献{% endblock %}

{% block content %}
<link href="/static/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css"></link>

<div class="page-content-wrapper">
	<!-- BEGIN PAGE -->
	<div class="page-content">
		<div class="row">
			<div class="col-md-12">
				<!-- BEGIN PAGE TITLE & BREADCRUMB-->
				<h3 class="page-title">
					编辑文献
				</h3>
				<ul class="breadcrumb">
					<li>
						<i class="icon-home"></i>
						<a href="">首页</a>
						<i class="icon-angle-right"></i>
					</li>
					<li>
						<a href="">大事件管理</a>
						<i class="icon-angle-right"></i>
					</li>
					<li>编辑文献</li>

				</ul>
				<!-- END PAGE TITLE & BREADCRUMB-->
			</div>
		</div>

		<div class="row"><div class="col-md-9"><div class="form">
			<form method='post' class="horizontal-form" enctype="multipart/form-data">
				{% csrf_token %}
				{% for field in form %}
					<div class="">
						<div class="form-group"><div class="row">
							<div class="control-label col-md-2" style="text-align:right">{{ field.label}}</div>
							<div class="controls col-md-10">
								{{field}}
								<span class="help-block">{{field.errors}}</span>
							</div>

						</div></div>
					</div>
				{% endfor %}

				<div class="form-actions center">
					<input type="hidden" name="id" value="{{ id }}" />
					<button type="submit" class="btn blue"><i class="icon-ok"></i> 添 加</button>
					<button type="button" class="btn" id="cancel-btn">取 消</button>
				</div>
			</form>
		</div></div></div>

	</div>

</div>

{% endblock %}

{% block script %}
<script src="/static/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
<script src="/static/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
<script>
	jQuery("#cancel-btn").click(function(){
		history.back();
	});

	$("#id_content,#id_memo").wysihtml5({"image":false});
</script>

{% endblock %}
